<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.fulltitle %}
	<title>{{ page.fulltitle }}</title>
	{% else %}
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	{% endif %}
	<link rel="stylesheet" href="/basic.css">
    {%- if page.style %}{% for style in page.style %}
	<link rel="stylesheet" href="/{{style}}.css">
	{%- endfor %}{% endif %}
	<link rel="preload" href="/assets/fonts/inter.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="icon" href="/assets/favicons/icon-16.png" type="image/png" sizes="16x16">
	<link rel="icon" href="/assets/favicons/icon-32.png" type="image/png" sizes="32x32">
	<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
	<link rel="manifest" href="/site.webmanifest">
	{%- if page.script %}{% for script in page.script %}
	<script src="/{{script}}.js" defer></script>
	{%- endfor %}{% endif %}
	<meta name="description" content="{{ page.description | default: site.description }}">
	<meta name="theme-color" content="#ff8800">
	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index' }}">
	<meta property="og:image" content="{{ site.url }}/assets/images/fenalpha-400px.png">
	<meta property="og:site_name" content="fen.cx">
	<meta property="og:description" content="{{ page.description | default: site.description }}">
	<meta property="og:image:alt" content="an orange and white cat with blue eyes, glasses, and black and blonde hair">
	<meta property="og:image:width" content="400">
	<meta property="og:image:height" content="400">
	<meta property="og:locale" content="en_GB">
</head>
<body>
{{content}}
</body>
</html>
